* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
}

#section_one {
  width: 100%;
  height: calc(100% - 120px);
  background: pink;
}

#section_two {
  width: 100%;
  height: 120px;
  background: #282828;
  display: flex;
}

/*NAVBAR SINISTRA*/
#col_left {
  width: 200px;
  height: 100%;
  background: #0C0F12;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  padding-left: 20px;
}

.nav_header {
  display: flex;
}

#logo_large {
  width: 140px;
  height: auto;
}

.navbar_home {
  display: flex;
}

.navbar_home li {
  list-style-type: none;
  padding-bottom: 20px;
}

.navbar_home a {
  text-decoration: none;
  font-size: 15px;
  font-family: verdana;
  font-weight: 600;
  color: lightgray;
}

.navbar_home a:hover,
.recently a:hover,
.user a:hover {
  color: white;
}

.fa-home, .fa-search,
.fa-book, .fa-download,
.fa-user {
  font-size: 20px;
  padding-right: 15px;
}

.recently {
  display: flex;
  flex-wrap: wrap;
}

.recently li {
  list-style-type: none;
  padding-bottom: 10px;
}

.recently a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: verdana;
  font-weight: 400;
  color: lightgray;
}



.user {
  display: flex;
  flex-direction: column;
}

.user a {
  text-decoration: none;
  font-size: 12px;
  font-family: verdana;
  font-weight: 400;
  color: lightgray;
}

.user div:first-child {
  padding-bottom: 10px;
}

.user div:last-child {
  padding-top: 10px;
}







/*MAIN VIEW*/
#col_right {
  width: calc(100% - 200px);
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(186, 152, 3), rgb(79, 63, 2));
  float: left;
  overflow: auto;
  text-align: center;
}

/*navbar superiore*/
.nav_cont_flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3% 20% 0;
}

.nav_cont_flex li {
  list-style-type: none;
  position: relative;
  padding-top: 5px;
  padding-bottom: 4px;
}

.nav_cont_flex li>a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: verdana;
  font-weight: 600;
  color: lightgray;
}

.nav_cont_flex a:hover {
  color: white;
}

.nav_cont_flex a:hover::before {
  content: "";
  height: 3px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}

#col_right h2 {
  color: white;
  font-family: verdana;
  font-size: 30px;
  font-weight: 600;
  padding: 3% 10%;
  text-align: left;
}

#col_right img {
  width: 190px;
  height: auto;
}

/*album image*/
.album_cont_flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.album_cont_flex div {
  padding-right: 5px;
  padding-bottom: 20px;
}

.album_cont_flex a {
  text-decoration: none;
  font-size: 14px;
  font-family: verdana;
  font-weight: 600;
  color: white;
}

/*recently played*/
.played_cont_flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.played_cont_flex div {
  padding-right: 5px;
  padding-bottom: 20px;
}

.played_cont_flex a {
  text-decoration: none;
  font-size: 14px;
  font-family: verdana;
  font-weight: 600;
  color: white;
}

.played_cont_flex img {
  border-radius: 50%;
}

/*media player*/
.media_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 14%;
}

#little_cover {
  width: 90px;
  height: auto;
  margin-left: 20px;
}

.media_left a {
  text-decoration: none;
  font-size: 10px;
  font-family: verdana;
  font-weight: 600;
  color: white;
}

.media_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 70%;
}

.media_center img {
  width: 30px;
  height: auto;
  margin: 0 20px;
}

.control_button {
  padding-bottom: 15px;
}







/*MEDIA QUERY*/

/*small device*/
@media screen and (max-width: 540px){
  #col_left {
    width: 100px;
    height: 100%;
    background: #0C0F12;
    float: left;
  }

  #col_right {
    width: calc(100% - 100px);
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(186, 152, 3), rgb(79, 63, 2));
    float: left;
  }
}

/*medium device*/
@media screen and (min-width: 541px)and (max-width: 720px){
  #col_left {
    width: 100px;
    height: 100%;
    background: #0C0F12;
    float: left;
  }

  #col_right {
    width: calc(100% - 100px);
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(186, 152, 3), rgb(79, 63, 2));
    float: left;
  }
}
